body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #f1f1f1;
}

.header{
    width: 100%;
    height: 76px;
    background-color:red;
}


/*Navigation Bar*/
.topnav {
  overflow: hidden;
  background-color: red;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  font-size: 20px;
  padding: 30px 30px;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.topnav a:hover {
  background-color: darkred;
  color: white;
}

.active {
  background-color: darkred;
}

.judul {
    position: absolute;
    float: left;
    padding: 3px;
    margin-left: 2%;
    margin-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li{
    float: right;
}
/*Akhir Navigation Bar*/

/*SlideShow Gambar*/

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/*Akhir SlideShow Gambar*/


/*artikel utama*/
.leftcolumn {   
  padding-left: 20px;
  width: 98%;
}

.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

.fakeimg {
  background-color: #aaa;
  background-image: url("Untitled-1.png");
  width: 15%;
  padding: 20px;
  height: 200px;
  float: right;

}

.fakeimg2 {
  background-color: #aaa;
  background-image: url("banner.png");
  width: 100%;
  padding: 20px;
}

.cardhome {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 30px;
  transition: 0.3s;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

/*mencoba tes*/
.card2 {
  border-radius: 30px;
  margin-left: 20px;
  margin-right: 20px;
  transition: 0.3s;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  transition: 0.3s;
  width: 100%;
}

h1{
  margin-left:  1.5em;
  padding-top: 1em;
  margin-top: 1em;
}

.part2{
  display: grid;
  grid-template-columns: 400px auto;
  margin: 20px;
  margin-right: 20px;
  padding: 10px;
  padding-bottom: 20px;
}

.part3{
  display: grid;
  grid-template-columns: auto auto;
  margin: 20px;
  margin-right: 20px;
  padding: 10px;
  padding-bottom: 20px;
}


p{
  margin: 20px;
  font-size: 18px;
  text-align: justify;
  line-height: 1.8;
}

b {
  padding: 2px 16px;
}
/*mencoba tes*/

.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardhome:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.content{
  padding-right: 20px;
  margin-left: 15px;
  text-align: justify;
  font-size: 18px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}
/*Akhir artikel utama*/
/*Halaman Contact*/
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: red;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: darkred;
}

.container {
  border-radius: 20px;
  background-color: white;
  padding: 20px;
}
/*Akhir Halaman Contact*/

/*Halaman Penanganan*/
.columne {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.rows {margin: 0 -5px;}

/* Clear floats after the columns */
.rows:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .columne {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.cardz {
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  padding: 16px;
  transition: 0.3s;
  border-radius: 30px;
  text-align: center;
  max-height: 500px;
  background-color: white;
}

.cardz:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/*Akhir Halaman Penanganan*/
/*Footer*/
.footer {
  padding: 20px;
  text-align:left;
  color: rgb(77, 77, 77);
  background:#333;
  margin-top: 20px;
}